# source /opt/homebrew/anaconda3/etc/profile.d/conda.sh

source venv/bin/activate

if [ "$(uname)" == "Darwin" ]; then
	export MYPYPATH=/opt/homebrew/anaconda3/envs/chatbot/lib/python3.11/site-packages
fi

unset PS1
