{% extends "layout.html" %}


{% block body %}
<h1 class="center">📚 AI-generated short stories</h1>
<div class="right-sidebar-grid">
    <main class="main-content">
    <ul>
        <li>
            <a href="{{ url_for("stories.about") }}">About Us</a>
        </li>
        <li>
            <a href="{{ url_for("stories.random_story") }}">Random story</a>
        </li>
        <li>
            <a href="/">Index <i class="fa fa-caret-right"></i></a>
        </li>
    </ul>
    <br/>
    <container>
      <h2>Top AI-rated stories</h2>
        <ul>
            {% for story in top_rated %}
                <li>
                    <a href="{{ url_for('stories.story', id=story.id) }}">
                        <strong>{{ story.average_rating() |int }}%</strong> - {{ story.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </container>

    </main>
    <section class="right-sidebar">
        <h4>Categories</h4>
        <ul>
        {% for category in categories %}
            <li> <a href="{{ url_for('stories.stories', categories=category.category) }}">{{ category.category }}</a></li>
        {% endfor %}
        <ul>

    </section>
</div>







{% endblock %}

