<!DOCTYPE html>
<html>

<head>
  <title>Stories</title>
</head>

<body>
  <h1>{{ story.title }}</h1>

  <p>
    {{ story.text }}
  </p>

  {% if story.ratings|length > 0 %}
    <h4>Ratings</h4>
    <ul>
    {% for rating in story.ratings %}
      <li>{{ rating}}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if story.categories|length > 0 %}
    <h4>Categories</h4>
    <ul>
    {% for category in story.categories %}
      <li>{{ category }}<li>
    {% endfor %}
    <ul>
  {% endif %}


  <br/>
  Proposed Length: {{ story.length }}


</body>

</html>
