{% extends "layout.html" %}
{% block body %}
    <div class="container title">
        <h1>Stories</h1>
    </div>
    <section>
        {% for story in stories %}
            <article class="story">
                <a href="{{ url_for('stories.story', id=story.id) }}">{{ story.average_rating() |int }}% - {{ story.title }}</a>
            </article>
        {% endfor %}
    </section>
    <section>
        <aside>
            <ul>
                <li>
                    <a href="{{ url_for("stories.stories") }}">Clear Filter</a>
                </li>
                {% for (category, url) in categories %}
                    <li>
                        <a href="{{ url }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </section>
{% endblock %}
