{% extends "layout.html" %}
{% block body %}
    <div class="right-sidebar-grid">
        <header class="header">
            <h1>Stories (maybe include categories here?)</h1>
        </header>
        <main class="main-content">
            {% for story in stories %}
                <article class="story">
                    <a href="{{ url_for('stories.story', id=story.id) }}">{{ story.average_rating() |int }}% - {{ story.title }}</a>
                </article>
            {% endfor %}
        </main>
        <section class="right-sidebar">
            <ul>
                <li>
                    <a href="{{ url_for("stories.stories") }}">Clear Filter</a>
                </li>
                {% for (category, url, is_applied) in categories %}
                    <li class="{% if is_applied %}is-applied{% endif %}">
                        <a href="{{ url }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
