{% extends "layout.html" %}


{% block title %}
<title>📚ShortStories📚 - {{story.title}}</title>
{% endblock %}

{% block body %}


<div class="right-sidebar-grid">
    <header class="header">  
      <h1>{{ story.title }}</h1>
    </header>
    <main class="main-content">
      {{ story.text }}
    </main>
    <section class="right-sidebar">
      {% if story.ratings|length > 0 %}
        <h4>Ratings</h4>
        <ul>
          {% for rating in story.ratings %}
          <li>{{ rating}}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if story.categories|length > 0 %}
        <h4>Categories</h4>
        <ul>
        {% for category in story.categories %}
            <li> <a href="{{ url_for('stories.stories', categories=category.category) }}">{{ category }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}

      <h4>Proposed Length: {{ story.length }}<h4>
          <h4>Model: <a href="{{ url_for('stories.stories', model_name=story.model_name) }}">{{ story.model_name }}</a></h4>
      <h4>Created At: {{ story.created_at }}</h4>



    <label for="show-text">Click to see prompt:</label>
    <input type="checkbox" id="show-text">
    <div id="hidden-content">
            <h4> Prompt </h4>
            
            
            {{ story.prompt }}
    </div>



    </section>
</div>







{% endblock %}
