html {
    font-size: calc(15px + 0.390625vw);
}

/* grid container */
.right-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'right-sidebar'
}

/* general column padding */
.right-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.right-sidebar-grid > .header {
    grid-area:header;
    /* background:#6a605c; */
}
.right-sidebar-grid > .main-content {
    grid-area:main-content;
    /* background:#cfd6ea; */
}
.right-sidebar-grid > .right-sidebar {
    grid-area:right-sidebar;
    background: #cfd6ea;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .right-sidebar-grid {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'main-content main-content right-sidebar'
    }
}
