/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a clear font and default font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 2em;
}

/* Add spacing to headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:hover,.navbar-brand:focus {
    text-decoration: none
}
